@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AndikaRegular';
    src: url('../fontovi/Andika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    @apply font-andikaRegular;
  }


  ::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #061d28;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #13a4e7;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #13a4e7;
}